<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Sample Work (Movie Ticket Booking System)</h1>
    <a href="/swagger-ui.html" target="_blank">Swagger UI</a>
    </br>
    </br>
    <iframe style="width:100%;min-height:600px;"
            src="https://docs.google.com/document/d/1lgupcn3c6Ubx8tnppKmGtHRi5gBQ2siMMpgVbPcLpPs/edit?usp=sharing"></iframe>
    </br>
    <iframe width="1280" height="688" src="https://www.youtube.com/embed/Q9Mc_9dU78U"
            title="Demo: MovieTicketBookingSystem POC" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
    ></iframe>
</body>
</html>